.derivedData/info.plist
.derivedData/Build/Intermediates.noindex/XCBuildData/build.db
.derivedData/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=c6fc4ae756d04b072ce19abf41790115_hash=914783f253cca5fa82b36db1b835a613plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
.derivedData/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=e8b7c18b49708e1519102337b0eb5312_hash=914783f253cca5fa82b36db1b835a613plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
.derivedData/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=69ded45041f7f1b4d22573bcd58010ae-json
.derivedData/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=f2b4e419d7ce33005791976db4ce2153-json
.derivedData/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=6572d40cd32a4900aec7c18808ba9dcf_subobjects=3ae9718ff91e5791dd7a0e640f8b7240-json
.derivedData/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=6572d40cd32a4900aec7c18808ba9dcf_subobjects=99c1f3dea4534043ce3960063d3b6225-json
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/build-request.json
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/description.msgpack
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/manifest.json
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/target-graph.txt
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/task-store.msgpack
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/6c34df75bb8280d8c415639bc9d586c8
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/36ff2b19267c038213e307fe916f054e
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/76e965f2b9159126879b6728e64104c1
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/a8837f06a943a4dcbf0c27d851e8b1b6
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/b3fe82b4157d00cf9fb0daae4c12dddf
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/be31972418e55f58fda070a2ff8ae625
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/c09be309d6b0327d8dd4615f337306bf
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/ee0f1581147bb2729e1504e7a3c6fe44
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/f7807e6436a8842cefb008dbcfc92b19
.derivedData/Build/Intermediates.noindex/XCBuildData/e7b444a348fb064ddccbebbeaf8e19d4.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/build-request.json
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/description.msgpack
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/manifest.json
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/target-graph.txt
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/task-store.msgpack
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/4c81c5fe6f073cd64432755f8a248ecd
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/6c34df75bb8280d8c415639bc9d586c8
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/36ff2b19267c038213e307fe916f054e
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/76e965f2b9159126879b6728e64104c1
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/a8837f06a943a4dcbf0c27d851e8b1b6
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/b3fe82b4157d00cf9fb0daae4c12dddf
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/be31972418e55f58fda070a2ff8ae625
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/ee0f1581147bb2729e1504e7a3c6fe44
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/f7807e6436a8842cefb008dbcfc92b19
.derivedData/Build/Intermediates.noindex/XCBuildData/ecc22c51ecb02d8bea0ef56673526959.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku-914783f253cca5fa82b36db1b835a613-VFS/all-product-headers.yaml
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/assetcatalog_dependencies
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/assetcatalog_dependencies_thinned
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/assetcatalog_generated_info.plist
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/assetcatalog_generated_info.plist_thinned
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/assetcatalog_signature
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/sudoku-all-non-framework-target-headers.hmap
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/sudoku-all-target-headers.hmap
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/sudoku-DebugDylibInstallName-normal-arm64.txt
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/sudoku-DebugDylibPath-normal-arm64.txt
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/sudoku-generated-files.hmap
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/sudoku-own-target-headers.hmap
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/sudoku-project-headers.hmap
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/sudoku.DependencyMetadataFileList
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/sudoku.DependencyStaticMetadataFileList
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/sudoku.hmap
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/DerivedSources/GeneratedAssetSymbols-Index.plist
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/DerivedSources/GeneratedAssetSymbols.h
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/DerivedSources/GeneratedAssetSymbols.swift
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/GeneratedAssetSymbols.stringsdata
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku_const_extract_protocols.json
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku_dependency_info.dat
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku-dependencies-1.json
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku-linker-args.resp
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku-OutputFileMap.json
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku-primary-emit-module.d
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku-primary-emit-module.dia
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku-primary.priors
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku.LinkFileList
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku.SwiftConstValuesFileList
.derivedData/Build/Intermediates.noindex/sudoku.build/Debug/sudoku.build/Objects-normal/arm64/sudoku.SwiftFileList
.derivedData/Build/Products/Debug/sudoku.app/Contents/Info.plist
.derivedData/Build/Products/Debug/sudoku.app/Contents/PkgInfo
.derivedData/Build/Products/Debug/sudoku.app/Contents/MacOS/__preview.dylib
.derivedData/CompilationCache.noindex/generic/lock
.derivedData/CompilationCache.noindex/generic/v1.1/v3.actions
.derivedData/CompilationCache.noindex/generic/v1.1/v3.actions.shared
.derivedData/CompilationCache.noindex/generic/v1.1/v8.data
.derivedData/CompilationCache.noindex/generic/v1.1/v8.data.shared
.derivedData/CompilationCache.noindex/generic/v1.1/v8.index
.derivedData/CompilationCache.noindex/generic/v1.1/v8.index.shared
.derivedData/Logs/Build/753A8B60-5025-490D-BDB9-0EEF854F4939.xcactivitylog
.derivedData/Logs/Build/BA5E5C2A-DF09-4F43-ACBF-547A7874C5E3.xcactivitylog
.derivedData/Logs/Build/LogStoreManifest.plist
.derivedData/Logs/Launch/LogStoreManifest.plist
.derivedData/Logs/Localization/LogStoreManifest.plist
.derivedData/Logs/Package/LogStoreManifest.plist
.derivedData/Logs/Test/LogStoreManifest.plist
.derivedData/ModuleCache.noindex/_AvailabilityInternal-F2NVTWWKEILURXYV5B71KS2HG.pcm
.derivedData/ModuleCache.noindex/_Builtin_float-21JV0X2JISGSJOIM9ODZJ69FY.pcm
.derivedData/ModuleCache.noindex/_Builtin_intrinsics-7GT5MHOYW07PLT7N9KNRLH345.pcm
.derivedData/ModuleCache.noindex/_Builtin_inttypes-B2JGOLKWP7KZ2JM5XJM2GGP03.pcm
.derivedData/ModuleCache.noindex/_Builtin_limits-62OQHKIJZJZOKAQ773FUOZDC.pcm
.derivedData/ModuleCache.noindex/_Builtin_stdarg-BRPJ156C6SQTVXP5Y5801J3RG.pcm
.derivedData/ModuleCache.noindex/_Builtin_stdatomic-8C16B9FWKJ2KLNGD3Z6M8Z50C.pcm
.derivedData/ModuleCache.noindex/_Builtin_stdbool-4KB4M6RFCFJCZPPNT58BU6SR0.pcm
.derivedData/ModuleCache.noindex/_Builtin_stddef-4WG3BEN3LKFHP6RCDFSGZK95.pcm
.derivedData/ModuleCache.noindex/_Builtin_stdint-48J676FUQQYI2WK8J90SR8TR9.pcm
.derivedData/ModuleCache.noindex/_Builtin_tgmath-DRUHQJXNSJ4VD3XAY8FPX53VT.pcm
.derivedData/ModuleCache.noindex/_DarwinFoundation1-DQGQ9O8NLJG7DEPFL774ERTLA.pcm
.derivedData/ModuleCache.noindex/_DarwinFoundation2-9LJZTM9HNBAJMGBXZRPF5UD9P.pcm
.derivedData/ModuleCache.noindex/_DarwinFoundation3-A0942WO03FY3QFY6WK1FTDY6I.pcm
.derivedData/ModuleCache.noindex/_SwiftConcurrencyShims-9D0HA50QNXY0FSZEGOSBACEHJ.pcm
.derivedData/ModuleCache.noindex/Accessibility-EQO8EG0Y1MLLOKUSCXAUA2KCI.pcm
.derivedData/ModuleCache.noindex/AppKit-3URP9BINQKXYL47C7POWU8634.pcm
.derivedData/ModuleCache.noindex/ApplicationServices-2KQWUQ7VXWW486J7P3E6ZRQPH.pcm
.derivedData/ModuleCache.noindex/CFNetwork-EYPH8F9EE1155S1YEVHNPW62B.pcm
.derivedData/ModuleCache.noindex/ColorSync-EXR2CKS8J5QQ3ZNSMYXEKBNKD.pcm
.derivedData/ModuleCache.noindex/CoreData-CF4QZ8W61X39CHLF66LVH6747.pcm
.derivedData/ModuleCache.noindex/CoreFoundation-4WPMRLJUOP7APNWTGGRS3UWJU.pcm
.derivedData/ModuleCache.noindex/CoreGraphics-5ZBAJ71GB0OY1JJKJDXGQCOE5.pcm
.derivedData/ModuleCache.noindex/CoreImage-A6AHQUGBQ104MAFN7VJYRGTMO.pcm
.derivedData/ModuleCache.noindex/CoreServices-9DW4K4OYBPEROZKJAC6MO0P5V.pcm
.derivedData/ModuleCache.noindex/CoreText-1GNQNGL3GJLLHC4DO56FJ4UXS.pcm
.derivedData/ModuleCache.noindex/CoreTransferable-2P60OKVMQJM41L3EH4J8JA5TB.pcm
.derivedData/ModuleCache.noindex/CoreVideo-6VIJG2XQJCCBIVYULNU5I4SNU.pcm
.derivedData/ModuleCache.noindex/CUPS-28NZV66ENE0XFM25TQA3TXLQ.pcm
.derivedData/ModuleCache.noindex/Darwin-D73IV8K9GYP3LNL51O9AANSSL.pcm
.derivedData/ModuleCache.noindex/DataDetection-6MZBKTZJAAA2CLJZIIKJIGIZ4.pcm
.derivedData/ModuleCache.noindex/DeveloperToolsSupport-613G2GE0Y22X4D8X7R8GPGJE8.pcm
.derivedData/ModuleCache.noindex/DiskArbitration-28N94Z3YGP1G3O1EQLMII2O0T.pcm
.derivedData/ModuleCache.noindex/Dispatch-4UNOQRBH6S2HER6FOJUK2C17E.pcm
.derivedData/ModuleCache.noindex/Foundation-9M2NIMCXDS7G5JS5DX2K04L2I.pcm
.derivedData/ModuleCache.noindex/ImageIO-221TG1OEC2LFRRV8DTRM1TNGT.pcm
.derivedData/ModuleCache.noindex/IOKit-6ARXLO0YE4Y1KC9OJPPPBVMKB.pcm
.derivedData/ModuleCache.noindex/IOSurface-E3U259DJLV74DW7EHDI1NHM8G.pcm
.derivedData/ModuleCache.noindex/launch-7VD77956HUZM04J2A4E2Z7O8Y.pcm
.derivedData/ModuleCache.noindex/libDER-5X8H9L48UQTLZCJYPRNDH5BW0.pcm
.derivedData/ModuleCache.noindex/libkern-56V15GT4M8J2C2B568YN0JUEP.pcm
.derivedData/ModuleCache.noindex/MachO-YCXOEMIZZ8IPMO8V8S8CN7RM.pcm
.derivedData/ModuleCache.noindex/Metal-11PBOHZ1NHTE6CKIT3KOS1NHB.pcm
.derivedData/ModuleCache.noindex/modules.timestamp
.derivedData/ModuleCache.noindex/ObjectiveC-DAOF2B57MNW997ZXO5603HPW9.pcm
.derivedData/ModuleCache.noindex/OpenGL-25LV5H3K39VO0V36413OWFSQB.pcm
.derivedData/ModuleCache.noindex/os_object-1OM61IP8MV1P6N4QMQ2BEDQW.pcm
.derivedData/ModuleCache.noindex/os_workgroup-1UFVR0YZ515GVM6FSZMT43RQE.pcm
.derivedData/ModuleCache.noindex/os-ECTJUFWQNPN44MLIIOEWM7IZ8.pcm
.derivedData/ModuleCache.noindex/OSLog-BLLZTIXVKEFW4QXOU5ZERCGKU.pcm
.derivedData/ModuleCache.noindex/ptrauth-1E74GJ02E9SXATX3EZ1B9PYYA.pcm
.derivedData/ModuleCache.noindex/ptrcheck-AMA4NAIBYJZBYPUQPU2OO3RP0.pcm
.derivedData/ModuleCache.noindex/QuartzCore-5B0XE6Y20PX16EDRRG18A99GC.pcm
.derivedData/ModuleCache.noindex/Security-2R942Y2185EB4JB802PACYMRW.pcm
.derivedData/ModuleCache.noindex/Session.modulevalidation
.derivedData/ModuleCache.noindex/simd-BTQ4GBQJ2YVMZQB37BO7DSI5V.pcm
.derivedData/ModuleCache.noindex/Spatial-3WA884R6MT9DRPF0516WIR0C8.pcm
.derivedData/ModuleCache.noindex/SwiftShims-B0ZYCPR094Q0Y64THQQCCO2K.pcm
.derivedData/ModuleCache.noindex/SwiftUI-7WC8R9OEY1K863FAMQ0O0C9YI.pcm
.derivedData/ModuleCache.noindex/SwiftUICore-76IJXNSMRM8N5X8DOIOCOM43A.pcm
.derivedData/ModuleCache.noindex/Symbols-WDCPXCRNOY6D0U39HHM78ZND.pcm
.derivedData/ModuleCache.noindex/sys_types-1JRD5DADIM2E7LT6WO4H84CYD.pcm
.derivedData/ModuleCache.noindex/UniformTypeIdentifiers-E1K4SJDBE025E2C4YN1952EPW.pcm
.derivedData/ModuleCache.noindex/XPC-QGXLN21FQYOW43RGW4NWYXC2.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_AvailabilityInternal-2YSBQADOLX02V.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_Builtin_float-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_Builtin_intrinsics-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_Builtin_inttypes-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_Builtin_limits-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_Builtin_stdarg-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_Builtin_stdatomic-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_Builtin_stdbool-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_Builtin_stddef-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_Builtin_stdint-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_Builtin_tgmath-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_DarwinFoundation1-2YSBQADOLX02V.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_DarwinFoundation2-3J4ZFA06I5V1P.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_DarwinFoundation3-2NSGASPTSNBVQ.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/_SwiftConcurrencyShims-2IMTS4WWRU7VJ.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/Accessibility-RCJSN2GG3RAR.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/AppKit-2VI8NB39I5AT6.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/ApplicationServices-3NXEUUZF9JJBD.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/CFNetwork-1PNPO1ORVQZLS.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/ColorSync-3EIM4S8RXNRVI.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/CoreData-1KHK1L2CYC2N6.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/CoreFoundation-16SA8WK3L6MQN.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/CoreGraphics-1PSDCAYCIV3T9.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/CoreImage-39ZO87840M5PP.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/CoreServices-39NCTJOEW7PQ2.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/CoreText-3FAL1B4J38DIR.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/CoreTransferable-27T896KGHFB3R.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/CoreVideo-DBBGB2LXU3HG.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/CUPS-1HLHMKUB322XA.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/Darwin-1FXX23EKWOBA9.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/DataDetection-R5W4QHNMPWVH.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/DeveloperToolsSupport-3SUCMSK9ZS2JA.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/DiskArbitration-3LBJF5I58QD8.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/Dispatch-R76HXUP80TVL.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/Foundation-24LYWIP48SHNP.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/ImageIO-2ZSF831VT29UB.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/IOKit-1IAL9NTK1TABA.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/IOSurface-26455DPS9NDS0.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/launch-3T3BU4MASLMUM.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/libDER-26DYHF6GC6WWA.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/libkern-2KQ0X67RTM1JF.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/MachO-20RPYVQSX341K.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/Metal-1GCZV9N85NJOH.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/ObjectiveC-1G8H182PQX3QE.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/OpenGL-H89XJT7GTCP.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/os_object-2MV8OP7R98AN8.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/os_workgroup-2MV8OP7R98AN8.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/os-2MV8OP7R98AN8.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/OSLog-218FBXNFJGY61.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/ptrauth-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/ptrcheck-19KE09ZDXQ6Q3.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/QuartzCore-39A8LQKF980J1.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/Security-3QCVXOV25KK54.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/simd-KY25Q80SBOHY.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/Spatial-1JZLH83HN83CS.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/SwiftShims-2IMTS4WWRU7VJ.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/SwiftUI-3DCHKT5UWXXCX.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/SwiftUICore-86HIVXUC6WOA.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/Symbols-3KC1789KJFX94.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/sys_types-3J4ZFA06I5V1P.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/UniformTypeIdentifiers-1OLJP4K3PLM48.pcm
.derivedData/ModuleCache.noindex/3CUE1KA7MT75G/XPC-T0ZXCAST7PE3.pcm
.derivedData/SDKStatCaches.noindex/macosx26.2-25C58-00fa09913b459cbbc988d1f6730289ae.sdkstatcache
